<!DOCTYPE html>
<html>
<title>{% block title%} This is title{% endblock %}</title>
<style type="text/css">
	body {
		text-align: center;
	}
	
	#page {
		width: 1000px;
		text-align: left;
		margin: 10px auto 20px auto;
		background-color: white;
	}
	
	#sidebar{
		float: left;
		width: 200px;
		border: 1px solid red;
	}

	#content{
		float: left;
		width: 600px;
		border: 1px solid yellow;
		padding: 10px;
	}
</style>
<body>
	
	<div id="page">
		
		<div id="sidebar">
			{% block sidebar%}
			<ul>
				<li><a href="/articles/all">Articles</a></li>
				<li><a href="/admin/">Admin</a></li>
			</ul>
			{% endblock%}
		</div>

		<div id="content">
			{% block content%}

			{% endblock %}			
		</div>
	</div>
</body>
</html>